<Input class="shadow-md py-2 outline-none px-2 w-48" @value={{this.titleValue}} />
<button onclick={{action "addItem"}} class="bg-blue w-10 h-10 rounded-full text-white shadow-md ml-2">{{fa-icon "plus"}}</button>

{{yield}}