@import 'tailwind.css';

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f6fa;
    color: #3d4852;
}

.filters {
    list-style-type: none;
}

.filters > a {
    margin: 5px;
}

.item-list {
    list-style-type: none;
}

.category-icon {
    border: 1px solid #90bde2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.category-icon:hover {
    background-color: #3490dc;
    color: white;
}

.category-icon:hover > li {
    color: white;
}

.add-button {
    outline: transparent !important;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: -6px;
    left: 3px;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #bcdefa;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.item-title {
    position: absolute;
    left: 39px;
}