@import 'tailwind.css';

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f6fa;
    color: #3d4852;
}

.filters {
    list-style-type: none;
}

.filters > a {
    margin: 5px;
}

.item-list {
    list-style-type: none;
}

.category-icon {
    border: 1px solid #90bde2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.category-icon:hover {
    background-color: #3490dc;
    color: white;
}

.category-icon:hover > li {
    color: white;
}