<div class="flex justify-center mb-4 mt-6">
  <AddItemInput @button="Book"/>
</div>
<div class="flex justify-center w-full">
  <ul class="item-list text-center p-0 mt-5 list-none w-1/4 inline-block">
    {{#each this.model as |book|}}
      <li>
        <MediaItem @item={{book}} @route="books" @itemName="book" />
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>

