<div class="flex justify-center w-1/3">
  <ul class="item-list text-center p-0 mt-5 list-none w-1/2 inline-block">
    {{#each this.model as |book|}}
      <li>
        <MediaItem @item={{book}} @route="books" />
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}