<div class="flex justify-center mb-4 mt-6">
  <AddItemInput @button="Movie"/>
</div>
<div class="flex justify-center w-full">
  <ul class="item-list text-center p-0 mt-5 list-none w-1/2 inline-block">
    {{#each this.model as |movie|}}
      <li class="border-blue-lighter s-b border-t py-2 mt-2">
        <MediaItem @item={{movie}} @route="movies" />
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>

