<div class="text-center">
  <h1 class="m-2">My WaReLis</h1>
  <h2 class="m-2">Select a media type to view</h2>
</div>
<div class="flex justify-center">
  <ul class="filters list-none flex flex-row p-0">
    {{#link-to "add.movies"}}<li>Movies</li>{{/link-to}}
    {{#link-to "add.books"}}<li>Books</li>{{/link-to}}
    {{#link-to "add.songs"}}<li>Songs</li>{{/link-to}}
  </ul>
</div>

{{outlet}}
